<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ch.ubique.notifyme.app">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:allowBackup="false"
		android:icon="@mipmap/app_icon"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/app_icon"
		android:supportsRtl="true"
		android:theme="@style/NotifyMeTheme">
		<activity
			android:name="ch.ubique.notifyme.app.MainActivity"
			android:screenOrientation="portrait"
			android:theme="@style/NotifyMeTheme">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver android:name=".utils.ReminderHelper" />

	</application>

</manifest>